{% extends 'apps/main.html' %}
{% block content %}

    <div class="header-bar">
        <h1>Register</h1>
    </div>

    <div class="card-body">
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {% for field in form %}
                <label>{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            {% endfor %}
            <input style="margin-top:10px ;" class="button" type="submit" value="Register">
        </form>
        {#    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>#}
    </div>




{% endblock content %}